<h1>Log in</h1>

<form [formRoot]="loginForm">
  <div class="mb-3">
    <label for="login" class="form-label">Login</label>
    <input id="login" class="form-control" [formField]="loginForm.login" />
    @let login = loginForm.login();
    @if (login.touched() && !login.valid()) {
      <div class="invalid-feedback">Login is required</div>
    }
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input id="password" class="form-control" type="password" [formField]="loginForm.password" />
    @let password = loginForm.password();
    @if (password.touched() && !password.valid()) {
      <div class="invalid-feedback">Password is required</div>
    }
  </div>

  <button type="submit" class="btn btn-primary">Log me in!</button>

  @if (authenticationFailed()) {
    <div class="alert alert-danger" role="alert">Nope, try again.</div>
  }
</form>
