<h1>Register</h1>

<form (submit)="register()" [formGroup]="userForm">
  <div class="mb-3">
    <label for="login" class="form-label">Login</label>
    <input id="login" class="form-control" formControlName="login" />
    @if (loginCtrl.touched && loginCtrl.hasError('required')) {
      <div class="invalid-feedback">Login is required</div>
    }
    @if (loginCtrl.touched && loginCtrl.hasError('minlength')) {
      <div class="invalid-feedback">Your login should be at least 3 characters</div>
    }
  </div>
  <div class="mb-3" formGroupName="passwordGroup">
    <div>
      <label for="password" class="form-label">Password</label>
      <input id="password" class="form-control" formControlName="password" type="password" />
      @if (passwordCtrl.touched && passwordCtrl.hasError('required')) {
        <div class="invalid-feedback">Password is required</div>
      }
    </div>

    <div>
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input id="confirmPassword" class="form-control" formControlName="confirmPassword" type="password" />
      @if (confirmPasswordCtrl.touched && confirmPasswordCtrl.hasError('required')) {
        <div class="invalid-feedback">Password confirmation is required</div>
      }
    </div>

    @if (passwordGroup.touched && passwordGroup.hasError('matchingError')) {
      <div class="invalid-feedback">Your password does not match</div>
    }
  </div>
  <div class="mb-3">
    <label for="birthYear" class="form-label">Birth Year</label>
    <input id="birthYear" class="form-control" formControlName="birthYear" type="number" />
    @if (birthYearCtrl.touched && birthYearCtrl.hasError('required')) {
      <div class="invalid-feedback">Birth year is required</div>
    }
    @if (birthYearCtrl.touched && (birthYearCtrl.hasError('min') || birthYearCtrl.hasError('max'))) {
      <div class="invalid-feedback">This is not a valid year</div>
    }
  </div>

  <button type="submit" class="btn btn-primary">Let's go!</button>

  @if (registrationFailed()) {
    <div class="alert alert-danger" role="alert">Try again with another login.</div>
  }
</form>
